<connectionStrings>
  <!-- JASON -->
  <!--<add name="Tribosch" connectionString="Data Source=.\SQLExpress;Initial Catalog=TriboschApp;Persist Security Info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  <add name="TriboschAppEntities" connectionString="metadata=res://*/Tribosch.csdl|res://*/Tribosch.ssdl|res://*/Tribosch.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;Initial Catalog=TriboschApp;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  
  <!-- KWENA -->
  <add name="Tribosch" connectionString="Data Source=.;Initial Catalog=TriboschApp;User ID=sa;Password=F15HP@15T;" providerName="System.Data.SqlClient"/>
  <add name="TriboschAppEntities" connectionString="metadata=res://*/Tribosch.csdl|res://*/Tribosch.ssdl|res://*/Tribosch.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;Initial Catalog=TriboschApp;User ID=sa;Password=F15HP@15T;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>
