<ion-view view-title="Deliveries" hide-back-button="true">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class="list" ng-repeat="delivery in Deliveries">
             <a class="item delivery-item" href="#" ng-click="GotoDelivery()">
                  <i class="icon ion-ios-location-outline"></i>
                 <span class="date">{{delivery.DateCreated}}</span>
                  <h2>{{delivery.Customer.CustomerName}}</h2>
                  <p> {{delivery.Customer.Addresses[0].Address1}}<br />
                      {{delivery.Customer.Addresses[0].Address2}}
                  </p>
             </a>
        </ion-list>
    </ion-content>
</ion-view>

