
<ion-view hide-nav-bar="true">
    <ion-content class="landing-page">
       <div class="landing-logo">
           <img width="40" src="img/logo.png" />
       </div>
        <h1>
           YOUR ONE STOP DELIVERY<br />
            <span class="small">Solution</span>
        </h1> 
        <div class="push-down">
            <a href="#/app/signup" class="link sign-up" >New Driver</a>
            <hr />
            <a href="#/app/login" class="existing-member">Existing Driver</a><br /><br />
            <small>By signgin up, you agree to Deliva's Terms of Service and Privacy Policy</small>
        </div>
    </ion-content>
</ion-view>
