<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/octet-stream" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Redirect non-www to www" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^zapptech.co.za$" />
					</conditions>
					<action type="Redirect" url="http://www.zapptech.co.za/{R:0}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>